{% extends "base.html" %} {% block app_content %}

<h1>A propos</h1>
<p>
  Bonjour, je m'appelle Hadrien et j'ai modifié
  <a href="https://github.com/miguelgrinberg/microblog"
    >l'application Microblog de Miguel Grinberg pour ce TP</a
  >.
</p>
{% endblock %}